<!DOCTYPE html>
<html>
  <head>
    <title>Pelicula</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Datos de la Pelicula</h1>
    <h3>Genero: <%= objeto.genero %></h3>
    <h3>Nombre: <%= objeto.nombre %></h3>
    <h3>Precio: <%= objeto.precio %></h3>
    <h3>Tiempo: <%= objeto.tiempo %></h3>
  </body>
</html>