<!DOCTYPE html>
<html>
  <head>
    <title>Registro de contacto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo%> </h1>
    <form method="get" action="rescontacto">
    	
    	<input type="text" name="nombre">
    	<input type="submit" name="envio" value="Registrar Contacto">

    </form>
    
  </body>
</html>